
<% layout('layouts/boilerplate')%>

<div class="body-chat">
<div class="menu-bar">
  <a href="" style="display: flex; text-decoration: none; color: #6f11f5;flex-wrap: wrap;margin-top:30px;" ><img style="height: 2rem;" src="./home.png" alt=""><h3>Home</h3></a>
  <a href="/profile" style="display: flex; text-decoration: none; color: #6f11f5;flex-wrap: wrap;margin-top:30px;"><img style="height: 2rem;" src="./profile.png" alt=""><h3>Profile</h3></a>
  <a href="" style="display: flex; text-decoration: none; color: #6f11f5;flex-wrap: wrap;margin-top:30px;"><img style="height: 2rem;" src="./logout.png" alt=""><h3>Logout</h3></a>
</div>
<div class="center-body">
<form class="form-chat-area" action="/chat" method="POST" enctype="multipart/form-data">
  <div class="chatarea">
    <div class="box-file">
      <img class="img" src=<%= user.img %> alt="">
      <textarea
        name="text"
        id="text"
        cols="50"
        rows="0"
        placeholder="what's Happening ??"
      ></textarea>
    </div> 
    <div style="display: flex;justify-content: space-evenly;    align-items: center;">
      <input type="file" id="myFile" name="filename">
      <button type="submit">tweet</button>
    </div>
   
  </div>
  
</form>

<div>
  <div>
    <!-- username  -->

    <!-- comment -->
    <% for(let item of chat){ %>
    <div class="commentbox">
      <div class="top-box">
        <img class="img" src=<%= item.user.img %>
        alt="" />
        <div class="box">
          <h1><%= item.user.name %></h1>
          <% if(item.chatimg) { %>
            <%= console.log( item.chatimg) %>
           <img src=/<%= item.chatimg %>
        alt="" />   
         
          <% } %>
          
          <h3><%= item.content %></h3>
        </div>
      </div>
      <div class="bottem-box">
        <h4>comments</h4>
        <h4>like</h4>
      </div>
    </div>
    <%}%>
  </div>
</div>
</div>
<div class="left-body">
  <h1>file1</h1>
  <h1>file1</h1>
  <h1>file1</h1>
  <h1>file1</h1>
  <h1>file1</h1>
  <h1>file1</h1>

</div>
</div>
